<h1>Movies</h1>

<div class="search">
  <%= form_tag movies_path, :method => :get do %>
  <%= search_field_tag :q, params[:q] %>
  <%= submit_tag "Search" %>
  <% end %>
</div>

<ul>
  <%= render @movies %>
</ul>

<%= paginate @movies %>
